header {
    margin-bottom: 30px !important;
}

h2 {
    font-size: 2rem;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 !important;
    display: grid;
    grid-template-columns: 1.5fr minmax(0, 1fr);
    gap: 20px;
    height: 100%;
    margin-bottom: auto;
}

.url-input-container,
.color-input-container,
.logo-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.url-input-container h2,
.color-input-container h2,
.logo-input-container h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.url-input-container input {
    border: none;
}

.url-input-container h2 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.url-input-container h2 img {
    height: 25px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.color-input-container input {
    border: none;

    border-radius: 5px;
}

.color-input-container .foreground-input {
    border-right: 60px solid #000;
}

.color-input-container .background-input {
    border-right: 60px solid #adff2f;
}

.color-themes {
    display: flex;
    gap: 10px;
}

.color-themes .theme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}

.color-themes .theme span:nth-child(1) {
    padding: 20px;
    border-radius: 5px 0 0 5px;
}

.color-themes .theme span:nth-child(2) {
    padding: 20px;
    border-radius: 0 5px 5px 0;
}

.logo-input-container input {
    border: none;
    display: flex;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: all 1s ease;
    height: max-content;
}

.url-container {
    background-color: hwb(0 91% 9%);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.url {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.qrcode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
}

.qrcode-container img {
    position: relative;
    flex: 1;
    padding: 40px;
    background-color: #adff2f;
    border-radius: 10px;
    width: 100%;
    transition: all 1s ease-in-out;
}

.qrcode-container img:hover {
    box-shadow: rgba(80, 110, 141, 0.2) 0px 8px 24px;
    transition: all 0.3s ease-in-out;
}

.qrcode-container canvas {
    max-width: 100%;
    padding: 40px;
    border-radius: 10px;
}

.result-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-download {
    flex: 1;
    border-radius: 10px;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-format {
    border: none;
    background-color: white;
}

.alert {
    margin-top: unset;
}

.section-container {
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: unset;
    width: 100%;
    padding: 50px;
}

.section-get-started {
    margin-bottom: unset;
}

section.section-get-started h4,
.section-title {
    text-align: center;
}

.section-get-started h4 {
    color: rgb(41, 41, 41);
    margin-bottom: -15px;
}

.section-get-started ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    list-style-type: none;
    margin-top: 20px;
}

.section-get-started ul li {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    padding: 20px;
    border-right: 2px solid black;
}

.section-get-started ul li:nth-child(4) {
    border: none;
}

.section-title {
    font-size: 2.6rem;
    font-weight: 700;
}

@media only screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 15px;
    }

    form {
        flex-direction: column;
        gap: 0px;
    }

    form input {
        border-radius: 10px 10px 0 0;
    }

    .btn-generate {
        margin-top: -2px;
        margin-left: unset;
    }

    .options {
        max-width: 92vw;
    }

    .result {
        gap: 20px;
        padding: 10px;
    }

    .qrcode-container {
        gap: 10px;
        padding: 0;
    }

    .color-input-container div {
        grid-template-columns: 1fr;
    }

    .url-input-container,
    .color-input-container,
    .logo-input-container {
        flex: none;
    }

    .section-get-started ul {
        grid-template-columns: 1fr;
    }

    .section-get-started ul li {
        border: none;
        border-bottom: 1.5px solid black;
        padding: 30px 0;
    }
}
