* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 1.7rem;
    overflow-x: hidden;
    max-width: 100%;
    letter-spacing: 1.1px;
    line-height: 1.5;
    min-height: 100vh;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    z-index: 999;
}

h1 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2;
}

input,
button,
select,
.btn {
    padding: 15px 20px;
    font-family: inherit;
    outline: none;
    font-size: 1.8rem;
    border-radius: 10px;
    border: 2px solid black;
    text-decoration: none;
}

input {
    background-color: whitesmoke;
    letter-spacing: inherit;
}

button,
.btn {
    background-color: #adff2f;
    color: black;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.icon {
    height: 25px !important;
}

.btn-secondary {
    width: max-content;

    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: #adff2f;
}

label {
    display: inline-block;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-title {
    font-size: 2.4rem;
    font-weight: 600;
}

.alert {
    margin-top: -15px;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.5s ease;
}

.alert-valid {
    color: green !important;
}

.alert-invalid {
    color: red !important;
}

.block {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 85px;
}

.hidden-none {
    display: none !important;
}

.hidden-opacity {
    opacity: 0 !important;
}

b {
    font-weight: 600;
}

footer {
    text-align: center;
    padding: 15px;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    margin-top: auto;
}

footer a {
    color: #adff2f;
    text-decoration: none;
    font-weight: 500;
}

a {
    color: black;
}

@media only screen and (max-width: 800px) {
    header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        border-bottom: 2px solid black;
    }

    header a.header-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 2.8rem;
    }

    .block {
        margin-bottom: 70px;
        max-width: 100%;
        padding: 15px;
    }
}
